/* base CSS, based on techniques learnt in 'Verde Moderna', by Dave Shea, http://www.mezzoblue.com/*/
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);
/*Basic css*/
* {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}
html, body {
padding: 0;
margin: 0;
scroll-behavior: smooth;
height: 100%

}
body {
color: #325050;
font-size: 70%;
}

header {
height: 160px;
padding: 20px 0 70px 0;
background-attachment: fixed, fixed, fixed, scroll;
background-image: url(../img/europeMap.png);
background-position: 0 0, 0 0, -5px -25px, 0 50%;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}


#title, #subtitle {
padding: 0 10%;
margin: 0;
color: #fff;
font-weight: normal;
}


#title {
font-weight: bold;
padding-top: 0;
padding-bottom: 5px;
border-bottom: none;
font-family: 'Julius Sans One', sans-serif;
font-size: 5.2em;
text-transform: uppercase;

}

#subtitle {
font-family: 'Julius Sans One', sans-serif;
display: block;
padding-top: 5px;
padding-bottom: 30px;
border-top: none;
text-align: center;
font-size: 2.8em;
font-style: italic;
font-weight:bolder;
color: #FFFFFF;
text-shadow: 1px 3px 0 #000000, 1px 13px 5px #1F1F1F;

}

h3 {
font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
font-size: 25px;
font-style: bold;
font-variant: small-caps;
font-weight: 700px;
line-height: 27.5px;
margin: 10px;
}

p {
  margin: 10px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 32px;
}



/*Navbar CSS*/
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #423A2A;

}

.Search {
  display: block;
  padding: 7px 10px;
  float: right;
}

.navbar a {
 float: left;
 font-size: 16px;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.Navdropdown {
 float: left;
 overflow: hidden;
}

.Navdropdown .dropbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}

.navbar a:hover, .Navdropdown:hover .dropbtn {
 background-color: #8F6F31;
}


/*Browse Table Bar*/
table#BrowseTable {
  border: 1px solid #D7D7D7;
  text-align: center;
  border-collapse: collapse;
}

table#BrowseTable a:link  {color: black;text-decoration: none;}
table#BrowseTable a:visited {color: black;text-decoration: none;}

table#BrowseTable tbody td {
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
}

table#BrowseTable thead {
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
}
table#BrowseTable thead th {
  font-family: Georgia, serif;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}


/*Quotation marks on Item page */
blockquote{
  font-size: 30px;
  color: black;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: .5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
  opacity: 0.6;
}

blockquote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}


.footer{
  margin:0;
  text-align: right;
  font-size: 1em;
  font-style: italic;
}


/*Text on hover */
.tooltip {
position: static;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

/* Create columns that float next to each other */
.column {
  float: left;
  padding: 10px;
}

/* side column */
.column.side {
  width: 25%;
}

/* Main column */
.column.middle {
  width: 70%;
  margin: 30px;
}


/* webpage footer */
footer {
    clear: both;
    margin-top: 150px;
    z-index: 1;
    width: 100%;
}


/* page display */
#homesidecolumn{ /* page display for home page side column */
border-radius: 15px 50px;
background-color: #6f6247;
color: white;
font-size: 17px;
width: 33%;
}


#homemaincolumn{
  padding: 20px;
  width: 60%;
}

.PageDisplay{
  margin-left: 20px;
  margin-top: 10px;
}

.HeaderDisplay {
  font-size: 45px;
}

.normal-text{
  font-size: 19px;
  font-family: 'Palatino Linotype';
}

.spacing {
    letter-spacing: 2px;
}

#filter ul {
  list-style-type: none;
}

/*sticky navbar edited from CodePen source https://codepen.io/ettrics/pen/WRbGRN*/

a.et-hero-tab {
	text-decoration: none;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    background: #eee;
		text-align: center;
		padding: 0 2em;
}

#LTbooklet2{
  height: 240vh;
}

#LTbooklet3{
  height: 480vh;
}

#LTbooklet4{
  height: 60vh;
}
.et-slide, .et-hero-tabs h1 {
    font-size: 45px;
    margin: 0;
    letter-spacing: 7px;
}
.et-slide, .et-hero-tabs h3 {
    font-size: 19px;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;

}

  a.et-hero-tab:hover {
   color:white;
   background: #423A2A;
   transition: all 0.5s ease;
 }

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #8F6F31;
    transition: left 0.3s ease;

}

/*blurry background effect*/
.bg-image {
  /* The image used */
  background-image: url(../img/europeMap.png);

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 130%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 10px;

}

/* change url link decorations */
.no_dec a:link {
  color: white;
}

.no_dec a:visited {
  color: white;
}


/* Search Tag Filter Dropdown */
ul, #myUL {
  list-style-type: none;
}
#myUL {
  margin: 0;
  padding: 0;
}
.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);
}
.nested {
  display: none;
}
.active {
  display: block;
}
