{% extends 'Morrois/home.html' %}


{% block content %}

<div class="PageDisplay">
        <h3>About this site</h3><br>
<p>MORROIS, a digital humanities project in its nascent stages, addresses a series of critical theoretical questions surrounding the use of mapping and other data visualizations in medieval literary studies, while also providing a useful resource to researchers working in the field. <br><br>The ultimate goal of MORROIS is to develop a large-scale, open-ended index of place-names found in medieval romance, marking line-by-line instances where a romance explicitly employs geographical terms to describe place, person, or thing. <br><br>While these datasets are designed to be projectable across a map, the site should also be seen as both geographic index and gazetteer, allowing users to search by romance, manuscript, language, date, and/or place to find these geographic referents.</p>
<p>On this prototype RDF framework site, we've attempted to duplicate the functionality of the <a href="https://omeka.org/classic/" target="_blank" rel="noreferrer noopener">Omeka Classic</a> content management system. Datasets will continue to be added to both the RDF and Omeka sides over the next six months to include all place-names in both the Auchinleck Manuscript (Edinburgh, National Library of Scotland Advocates’ MS 19.2.1) and the Lincoln Thornton Manuscript (Lincoln, Lincoln Cathedral Library MS 91).</p>
<p></p>
<p>See both <a href="../about/">"About MORROIS,"</a> under <a href="../essays/">Essays and Notes</a> and "Overcoming the Perils of Mapping Medieval Spaces: GIS and Other Data Visualizations of the Literary Real and Fictive,"</a> under <a href="../essays/">Essays and Notes</a> for a fuller discussion of this process.</p>
<p></p>
<p>See the <a href="../news/">News Page</a> for up-to-date development information.</p>
<p></p>
<br><br><hr>
<h3>Development Team</h3><br>
<h1 class="normal-text">Principal Investigator</h1>
<p>John A. Geck, Assistant Professor of English, Memorial University of Newfoundland</p>
<p></p>
<h1 class="normal-text">Primary Collaborator</h1>
<p>Sean M. Winslow, Zentrum für Informationsmodellierung, Austrian Centre for Digital Humanities, Karl-Franzens-Universität Graz</p>
<p></p>
<h1 class="normal-text">Technical Lead</h1>
<ul class="normal-text spacing"><li>Shamiso Jaravaza, Computer Industry Intern (CIIO), Memorial University of Newfoundland</li>
</ul><p></p>
<h1 class="normal-text">Data Collection</h1>
<ul class="normal-text spacing"><li>Courtnee Baker, MA Student, English, Memorial University of Newfoundland</li>
<li>Francesca Boschetti, PhD Candidate, English, Memorial University of Newfoundland</li>
<li>Josh Carey, MA Student, English, Memorial Unviersity of Newfoundland</li>
<li>Kate Lahey, MA Student, English, Memorial University of Newfoundland</li>
<li>Meghan Loch, MA Student, English, Memorial University of Newfoundland</li>
<li>Laura Moncion, MPhil, Humanities, Memorial University of Newfoundland</li>
</ul>
<h1 class="normal-text">Technical Advisory</h1>
<ul class="normal-text spacing"><li>Marc Bolli, Manager, Information Technology, Memorial University of Newfoundland</li>
<li>Allan Farrell, Research Computing Specialist, Memorial University of Newfoundland</li>
<li>Cem Killiç, Memorial Undergraduate Career Experience Program (MUCEP) Student in Computer Science, Memorial University of Newfoundland</li>
<li>Craig Squires, Systems Administrator, ACENET, Memorial University of Newfoundland</li>
<li>Oliver Stueker, Research Consultant, ACENET, Memorial University of Newfoundland</li>
<li>Meheroon Nesa Tondra, Memorial Undergraduate Career Experience Program (MUCEP) Student in Computer Science, Memorial University of Newfoundland</li>
</ul>
</div>

{% endblock %}
