{% extends 'Morrois/home.html' %}


{% block content %}
<h1 class="PageDisplay spacing">Our Ontology</h1>


<h1 class="PageDisplay spacing">D3Sparql Visualizations</h1>
 <ul class="normal-text">
  <h3>Charts</h3>
 <li><a href="../d3sparql-barchart">Bar Chart (Frequency of Place Name within a given range of coordinates)</a></li>
 <li><a href="../d3sparql-piechart">Pie Chart (Frequency of Place Name within a given range of Line Numbers))</a></li>
  <h3>Graphs</h3>
 <li><a href="">Force Graph</a></li>
 <li><a href="../d3sparql-sankey">Sankey (TGN Hierarchy of Place Names within Asia mentioned in the text) INTERACTIVE</a></li>
 <h3>Tree</h3>
<li><a href="../d3sparql-roundtree">Round Tree(TGN Hierarchy of Place Names within Europe mentioned in the text)</a></li>
<li><a href="../d3sparql-treemap">TreeMap (TGN Hierarchy of Place Names within Europe mentioned in the text)</a></li>
<li><a href="../d3sparql-treemapzoom">TreeMap Zoom (TGN Hierarchy of Place Names within Europe mentioned in the text) INTERACTIVE</a></li>
<li><a href="../d3sparql-dendrogram">Dendrogram (TGN Hierarchy of Place Names within Africa mentioned in the text)</a></li>
<li><a href="../d3sparql-sunburst">Sunburst (TGN Hierarchy of Place Names within Europe mentioned in the text) INTERACTIVE</a></li>

 </ul>

  {% endblock %}
