 
{% load static %}

<head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css">
<script src="{% static 'js/d3sparql.js'%}"></script>
<script src="{% static 'js/d3.v3.min.js'%}"></script>
<script>
   function exec() {
     var endpoint = "https://www.morrois.net/fuseki/MorroisDB/sparql"
     var sparql = d3.select("#sparql").property("value")
     d3sparql.query(endpoint, sparql, render)
   }
   function render(json) {
     var config = {
       // for d3sparql.tree()
       "root": "root_name",
       "parent": "parent_name",
       "child": "child_name",
       // for d3sparql.dendrogram()
       "width": 1200,
       "height": 600,
       "margin": 350,
       "radius": 5,
       "selector": "#result"
     }
     d3sparql.dendrogram(json, config)
   }

   function toggle() {
     d3sparql.toggle()
   }
   </script>
</head>
 <body>
   <div id="query" style="margin: 10px">
     <h1>Dendrogram SPARQL Query</h1>
     <form class="form-inline">
       <label>SPARQL endpoint:</label>
       <div class="input-append">
         <button class="btn" type="button" onclick="exec()">Query</button>
         <button class="btn" type="button" onclick="toggle()"><i id="button" class="icon-chevron-up"></i></button>
       </div>
     </form>
     <textarea id="sparql" class="span9" rows=15>
      prefix wgs: <http://www.w3.org/2003/01/geo/wgs84_pos#>
    prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    prefix owl: <http://www.w3.org/2002/07/owl#>
    prefix xsd: <http://www.w3.org/2001/XMLSchema#>
    prefix skos: <http://www.w3.org/2004/02/skos/core#>
    prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    prefix morrois: <https://www.morrois.net/Morrois/ontology#>
    prefix foaf: <http://xmlns.com/foaf/0.1/>

  SELECT DISTINCT ?root_name ?parent_name ?child_name
      WHERE {
        VALUES ?root { <https://www.morrois.net/Morrois/ontology#/Africa%20(continent)> }
        ?root   rdf:type owl:Class ;
                rdfs:label ?root_name .
        ?parent rdf:type owl:Class ;
                rdfs:label ?parent_name.
          ?child rdf:type owl:Class ;
                rdfs:label ?child_name;
              rdfs:subClassOf ?parent.
        ?child rdfs:subClassOf* ?root.
        ?child rdfs:subClassOf ?parent.
      }
     </textarea>
   </div>
   <div id="result"></div>
   </body>

