{% extends 'home.html' %}


{% block content %}

<body>
  <!-- Hero -->
  <section class="et-hero-tabs">
    <h1 class="HeaderDisplay">The Lincoln Thornton Manuscript</h1> 
    <h3 class = "normal-text spacing animated fadeIn delay-2s">The most recent print facsimile of Lincoln Cathedral Library MS 91 is
      <span>Derek Brewer and A. E. B. Owen,&nbsp;</span>
      <i>The Thornton Manuscript (Lincoln Cathedral Ms. 91)</i>
      <span> (Reprinted with Introd. Rev. ed. London: Scolar Press, 1977).<br><br>
      </span>However, the most up-to-date and finer-grain list of contents can be found in Susanna Fein, "The Contents of Robert Thornton's Manuscripts," in <a href="https://boydellandbrewer.com/robert-thornton-and-his-books-hb.html" target="_blank" rel="noreferrer noopener"><em>Robert&nbsp;<span>Thornton</span>&nbsp;and His Books: Essays on the&nbsp;<span>Lincoln</span>&nbsp;and London&nbsp;<span>Thornton </span></em></a>
    <span><a href="https://boydellandbrewer.com/robert-thornton-and-his-books-hb.html" target="_blank" rel="noreferrer noopener"><em>Manuscripts</em></a>, edited by Susanna&nbsp;</span><span class="searchword">Fein</span><span> and Michael Johnston, pp. 13-65 (Woodbridge, Suffolk: York Medieval Press in association with The Boydell Press, 2014). The following listing, numbering, and brief descriptions of the various articles are drawn from Fein:</span> </h3>


    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#LTbooklet1">Booklet 1 (fols. 3-52; arts. 1-6)</a>
      <a class="et-hero-tab" href="#LTbooklet2">Booklet 2 (fols. 53-178; arts. 7-36)</a>
      <a class="et-hero-tab" href="#LTbooklet3">Booklet 3 (fols. 179-279; arts. 37-98)</a>
      <a class="et-hero-tab" href="#LTbooklet4">Booklet 4 (fols. 280-321; arts. 99-100)</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="LTbooklet1">
      <div class="normal-text spacing">
      <h1>"The life of an ancient Worthy before that of a medi­eval one: King Arthur of Britain in the alliterative <em>Morte Arthure</em>" (Fein, 16):</span></h1>
      <p>Art. 1: The Prose <em>Life of Alexander </em>(fols. 1r-49r)&nbsp;</p>
      <p>Art. 2: Birth record for Thornton's grandson (fol. 49v)</p>
      <p>Art. 3: Thunder Prognostications (fol. 5r-5v)</p>
      <p>Art. 4: blank (fol. 51r))</p>
      <p>Art. 5: <em>Lamentacio Peccatoris</em> (fol. 51va-52ra)</p>
      <p>Art. 6: Sketches of knights and a horse (fol. <span>52v)</span></p>
    </div>
    </section>

    <section class="et-slide" id="LTbooklet2">
      <div class = "normal-text spacing">
      <h1>"one of the premier medieval collections of Middle English verse romance" (Fein, 17):</h1>
      <p>Art. 7: Scribal signature in English or French (fol. 53r)</p>
      <p><a href="/ltama" title="Item 8: The Alliterative Morte Arthure">Art. 8: The <em>Alliterative Morte Arthure </em>(fol. 53r-98v)</a></p>
      <p>Art. 9: Latin verse (fol. <span>98v)</span></p>
      <p><a href="/ltoctavian" title="Item 10: Octavian">Art. 10: <em>Octavian </em>(fols. 98va—109rb)</a></p>
      <p><a href="ltisumbras" title="Item 11: Sir Isumbras">Art. 11: <em>Isumbras </em>(fols. 109rb—114va)</a></p>
      <p>Art. 12: Latin verse (fol. 114va)</p>
      <p>Art. 13: <em>Earl of Toulouse</em> (fols. 114vb-122ra)</p>
      <p>Art. 14: <em>Life of Saint Christopher</em> (fols. 122vb-129vb)</p>
      <p><a href="/ltdegravant">Art. 15: <em>Sir Degreuant&nbsp;</em>(fols. 130ra-139va)</a></p>
      <p>Art. 16: <em>Sir </em><span><em>Eglamour of Artois</em> (fols. 139va-147rb)</span></p>
      <p><span>Art. 17: <em>The Wicked Knight and the Friar</em> (Miracle of the Virgin) (fols. 147ra-148rb)</span></p>
      <p><span>Art. 18: </span><em>Lyarde </em>(fols. 148rb-149)</p>
      <p>Art. 19: <em>Thomas of Erceldoune's Prophecy</em> (fols. 149va-153vb)</p>
      <p>Art. 20: <em>Awntyrs off Arthure</em> (fols. 154r-161r)</p>
      <p>Art. 21: <em>Sir Perceval of Gales</em> (fols. 161ra-176ra)</p>
      <p>Art. 22: <em>Thornton Toothache Charm</em> (fol. 176rb)</p>
      <p>Art. 23: <em>Three Good Brothers Charm </em>(version B) (fol. 176rb)</p>
      <p>Art. 24: Latin Toothache Charm (fol. 176v)</p>
      <p>Art. 25: <em>Epistola Sancti Salvatoris</em> (fol. 176v)</p>
      <p>Art. 26: Charm invoking the cross for protection (fol. 176v)</p>
      <p>Item 27: English prose, Occasions for the Latin <em>Prayer for Deliverance&nbsp;</em>(fols. 176v-177r)</p>
      <p>Art. 28: Latin <em>Prayer for Deliverance</em> (fol. 177r)</p>
      <p>Art. 29: <em>Lady for Thy Joys Five</em> (fol. 177v)</p>
      <p>Art. 30: <em>Prayer on Mary’s Five Joys</em> (fols. 177v-178r)</p>
      <p>Art. 31: <em>A Meritorious Collect</em> (fol. 178r)</p>
      <p>Art. 32: <em>Adoro te crucem</em> (fols. 178r-178v)</p>
      <p>Art. 33: <em>Prayer on the Seven Gifts of the Holy Ghost</em> (fol. 178v)</p>
      <p>Art. 34: <em>Sancta Maria mater Cristi</em> (fol. 178v)</p>
      <p>Art. 35: <em>Omnipotens sempiterne Deus</em> (fol. 178v)</p>
      <p>Art. 36: <em>O </em><span><em>virtutum Domine</em> (fol. 178v)</span></p>
    </div>
    </section>
    <section class="et-slide" id="LTbooklet3">
      <div class="normal-text spacing">
      <h1> "religious devotions and treatises, often in prose" (Fein, 17)</h1>
      <p>Art. 37: <em>In Nomine Patris et Filii et Speritus Sancti</em> (Invocation of the Trinity) (fol. 119r)</p>
      <p>Art. 38: <em>Privity of the Passion</em> (English translation of Pseudo-Bonaventure, <em>Meditationes vitae Christi</em>) (fols. 179r-189r)</p>
      <p>Art. 39: <em>Of All Things It Is the Best</em> (written in a formal hand not Thornton’s) (fol. 189r)</p>
      <p>Art. 40: William of Nassington, <em>Tractatus de Trinitate et Unitate</em> (English verse) (fols. 189r-191v)</p>
      <p>Art. 41: <em>Lord God Jesus Christ, God Almighty</em> (fol. 191v)</p>
      <p>Art. 42: <em>Almighty God in Trinity</em> (fol. 191v)</p>
      <p>Art. 43: <em>Lord God All-Wielding</em> (fol. 191v)</p>
      <p>Art. 44: <em>Jesus That Died on the Rood for the Love of Me</em> (fols. 191v-192r)</p>
      <p>Art. 45: <em>Jesus of Whom All True Love Springs</em> (fol. 192r)</p>
      <p>Art. 46: Richard Rolle, <em>Oleum effusum</em> in English (Version A) (fols. 192r-193v)</p>
      <p>Art. 47: Richard Rolle, <em>A Tale of Hampoles Temptation</em> (fol. 193v)</p>
      <p>Art. 48: <em>Jesus the Son of the Glorious Virgin</em> (fol. 193v)</p>
      <p>Art. 49: <em>Deus noster refugium</em> (Prayer ascribed to Richard Rolle) (fol. 193v)</p>
      <p>Art. 50: <em>Ihesu nostra redempcio amor &amp; desiderium</em> (Hymn ascribed to Saint Ambrose) (fols. 193v-194r)</p>
      <p>Art. 51: Richard Rolle, <em>Imperfect Contrition</em> (fol. 194r)</p>
      <p>Art. 52: Richard Rolle, <em>True Contrition</em> (fol. 194r)</p>
      <p>Art. 53: Richard Rolle, <em>The Bee and the Stork</em> (fol. 194r-194v)</p>
      <p>Art. 54: Richard Rolle, <em>A Woman Enclosed for Love of Christ</em> (fols. 194v-195r)</p>
      <p>Art. 55: <em>Meliora sunt</em> (Latin meditation ascribed to Richard Rolle) (fol. 195r)</p>
      <p>Art. 56: <em>O quam delectabile</em> (Latin meditation ascribed to Richard Rolle) (fol. 195r)</p>
      <p>Art. 57: Richard Rolle, <em>Commentary on the Decalogue</em> (Shorter Version) (fols. 195v-196r)</p>
      <p>Art. 58: Richard Rolle, <em>Seven Gifts of the Holy Spirit</em> (fol. 196r-196v)</p>
      <p>Art. 59: <em>Ihesus Marie filius sit michi / clemens &amp; propecius</em> (fol. 196v)</p>
      <p>Art. 60: Richard Rolle, <em>Desire and Delight</em> (fol. 196v)</p>
      <p>Art. 61: <em>Mirror of Saint Edmund</em> (fols. 197r-209v)</p>
      <p>Art. 62: English and Latin prose Tract on the Lord’s Prayer (fols. 209v-211r)</p>
      <p>Art. 63: <em>Jesus Christ Saint Mary’s Son</em> (fol. 211ra-211va)</p>
      <p>Art. 64: <em>Father and Son and Holy Ghost</em> (fols. 211vb—212rb)</p>
      <p>Art. 65: <em>Ihesu criste goddes sun of heuen</em> (Prayer to Christ) (fol. 212rb)</p>
      <p>Art. 66: <em>Adoro te piissime Ihesu qui / redimisti me</em> (Latin verse meditation on the five wounds with prose prayer and collect) (fol. 212rb-212vb)</p>
      <p>Art. 67: <em>O crux frutex saluificus vino fonte rigatus</em> (Latin verse meditation with prose antiphon and collect; extract from Saint Bonaventure’s <em>Arbor vitae Christi</em>) (fols. 212vb-213r)</p>
      <p>Art. 68: <em>Ihesus pie flos Marie peccatorum miserere Amen</em> (Latin verse and prose invocation for mercy) (fol. 213r)</p>
      <p>Art. 69: <em>When Adam Delved</em> (fol. 213r-213v)</p>
      <p>Art. 70: <em>Jesus Christ, Have Mercy on Me</em> (fol. 213v)</p>
      <p>Art. 71: John Gaytryge, <em>Sermon </em>(or<em> Lay Folks’ Catechism</em>) (fols. 213v-218v)</p>
      <p>Art. 72: <em>Jesus Thy Sweetness </em>(fol. 219ra-219v)</p>
      <p>Art. 73: Walter Hilton, <em>Of Angels’ Song</em> (fols. 219v—221v)</p>
      <p>Art. 74: Richard Rolle, <em>Thy Joy Be in the Love of Jesus</em> (fol. 222r-222v)</p>
      <p>Art. 75: Richard Rolle, <em>All Vanities Forsake</em> (fol. 222v)</p>
      <p>Art. 76: Walter Hilton, <em>Epistle on the Mixed Life</em> (Shorter Version) (fols. 223r-229r)</p>
      <p>Art. 77: Walter Hilton, <em>Epistle of Salvation</em> (extracted from The Scale of Perfection, Book I, chap. 44) (fols. 229v-230v)</p>
      <p>Art. 78: <em>Of all mankynde </em><em>þat he made </em><em>þat maste es of myghte</em> (Alliterative Salutation to Saint John the Evangelist) (fols. 231r-233v)</p>
      <p>Art. 79: <em>Prayng es a gracyous gyfte of owre lorde godd</em> (<em>On Prayer</em>) (fols. 233v-236v)</p>
      <p>Art. 80: <em>Holy Boke Gratia Dei</em> (three parts in Lincoln: “On Prayer,” “On Grace,” and “Our Daily Work';” lacking fourth part, “Meditation on the Passion and of Three Arrows of Doomsday”) (fols. 237r-250v)</p>
      <p>Art. 81: <em>Revelation Shown to a Holy Woman</em> (fols. 250v-258r)</p>
      <p>Art. 82: Vulgate Psalm 50, concluded with a benediction (fol. 258r-258v)</p>
      <p>Art. 83: Hymn <em>Veni creator spiritus</em> (variant ending) (fol. 258v)</p>
      <p>Art. 84: Psalter of Saint Jerome with Office (uniquely abridged) (fols. 258v-270v)</p>
      <p>Art. 85: <em>Abbey of the Holy Ghost</em> (Northern Version) (fols. 271r-276r)</p>
      <p>Art. 86: <em>First Age of Man’s Life </em>(Extract from the <em>Prick of Conscience</em>, ll. 438-551) (fols. 276va-277ra)</p>
      <p>Art. 87: Originally blank column with later trial alphabet (fol. 277rb)</p>
      <p>Art. 88: <em>Gaude flore virgenali</em> (Salutation to Mary for her Seven Joys) (fol. 277va-277b)</p>
      <p>Art. 89: <em>Gaude virgo Mater Cristi </em>(Salutation to Mary for her Five Joys) (fols. 277vb-278r)</p>
      <p>Art. 90: <em>Benedictio et Claritas et Sapiencia et graciarum accio</em> (Hymn with versicle and collect) (fol. 278r)</p>
      <p>Art. 91: <em>Tuam crucem adoramus </em>(Hymn on the Passion) (fol. 278r)</p>
      <p>Art. 92: <em>A Colecte of grete perdon vnto crist Ihesu / Domine Ihesu Criste Fili dei</em> (fol. 278r)</p>
      <p>Art. 93: <em>Thornton misereatur mei dei / miserere mei deus</em> &nbsp;(fol. 278v)</p>
      <p>Art. 94: <em>Crucem coronam spiniam</em> (Hymn on the <em>arma Christi</em>, with prose prayer and collect) (fol. 278v)</p>
      <p>Art. 95: <em>Ihesus Marie filius sit michi clemens</em> / <em>&amp; propicius</em> (fol. 278v)</p>
      <p>Art. 96: Latin hymn on Christ’s side wound with concluding anthem and prose collect (fols. 278v-279r)</p>
      <p>Art. 97: <em>Earth upon Earth</em> (Version B) (fol. 279r-279v)</p>
      <p>Art. 98: <em>For the Sciatica</em> (medical recipe) (fol. 279v)</p>
      </div>
      </section>

      <section class="et-slide" id="LTbooklet4">
        <div class="normal-text spacing">
          <h1> "the medical collection <span><em>Liber de Diversis Medicinis</em>" (Fein, 18)</h1>
          <p>Art. 99: <em>Liber de Diversis Medicinis </em>(fols. 280r-314v)</p>
          <p>Art. 100: Fragmental herbal drawn from <em>A Tretys of Diverse Herbis </em>(fols. 315r—321v)</p>
        </div>
      </section>


</body>
{% endblock %}
