{% extends 'home.html' %}


{% block content %}
<div class="custom-bg-light">
<section class="animated fadeIn delay-0.75s py-5 text-center container">
    <div class="row py-lg-5">
      <div class="custom-dark-font col-lg-6 col-md-8 mx-auto">
        <h1 class ="display-1">D3SPARQL Visualizations</h1>
        <p class="lead text-muted">Below are the available data visualizations and sample SPARQL Queries. To learn more about the MORROIS Ontology, or to view a visual representation of all the ontologies used, click either of the buttons below. </p>
        <p>
          <a href="#" class="shadow btn custom-btn-prim my-2">Our Ontology</a>
          <a href="#" class="shadow btn custom-btn-sec my-2">View RDF Schema</a>
        </p>
      </div>
    </div>
  </section>

  <div class="custom-bg-dark album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
           
            <div class="card-body">
              <p class="card-text">A Bar Chart visualization using the Frequency of a Place Name within a given range of coordinates.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                     <a class="btn btn-sm btn-outline-secondary" href="../d3sparql" role="button">View</a>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">A Pie Chart visualization using the Frequency of a Place Name within a given range of Line Numbers.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="../d3sparql" role="button">View</a>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">Sankey Graph vizualization using the TGN Hierarchy of all Place Names within Asia mentioned in the text.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="../d3sparql" role="button">View</a> 
                </div>
                <small class="text-muted">Interactive</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">Round Tree Graph of the TGN Hierarchy of all Place Names within Europe mentioned in the text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="../d3sparql" role="button">View</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">Tree Map of the TGN Hierarchy of all the Place Names within Europe that are mentioned in the text.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="../d3sparql" role="button">View</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">Tree Map Zoom of the TGN Hierarchy of the Place Names within Europe mentioned in the text.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="../d3sparql" role="button">View</a> 
                </div>
                <small class="text-muted">Interactive</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">Dendrogram Tree Map of the TGN Hierarchy of all Place Names within Africa mentioned in the text.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="../d3sparql" role="button">View</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">Sunburst Map of the TGN Hierarchy of all Place Names within Europe mentioned in the text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="../d3sparql" role="button">View</a>  
                </div>
                <small class="text-muted">Interactive</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  {% endblock %}
