{% extends 'home.html' %}


{% block content %}


<body id="ltama">

    <div role="main">
        <div class="normal-text">
    <h3>Art. 8: The Alliterative Morte Arthure</h3>
        <h3>To begin</h3>
<ul><li>To read the <em>Alliterative Morte Arthure</em>, click on <a href="https://d.lib.rochester.edu/teams/text/benson-and-foster-king-arthurs-death-alliterative-morte-arthur-part-i" target="_blank" rel="noreferrer noopener">The Text of the Alliterative Morte Arthure (TEAMS)</a>&nbsp;to be taken to Larry Benson and Edward Foster's 1994 edition for TEAMS Middle English Text series.</li>
</ul><p></p>
<ul><li>To see a list of all place-names found in the <em>Alliterative Morte Arthure </em>click on <a href="../search/?Collection=Alliterative+Morte+Arthur/">A Place Name Index for the <em>Alliterative Morte Arthure</em></a>.</li>
</ul><p></p>
<ul><li>To see these place names projected on a map, click on <a href="https://morrois.net/neatline/show/amamap">Mapping the </a><em><a href="https://morrois.net/neatline/show/amamap">Alliterative Morte Arthure</a>.</em><em></em></li>
</ul><p><em></em></p>
<ul><li>To see a growing bibliography for the <em>Alliterative Morte Arthure</em>, click on <a href="../amabib/">A Provisional Bibliography of the Alliterative Morte Arthure</a>.</li>
</ul></div>

    </div>

</body>
        {% endblock %}
