{% extends 'home.html' %}


{% block content %}
<div class="customcontainer">
<div>
    <section class="custSect custcol-3">
        <div class="custcolumn animated fadeIn delay-0.75s">
            <h3 class="display-3 custom-dark-font">Art. 8: The Alliterative Morte Arthure</h3>
            <h4 class="lead text-muted display-5">To begin:</h4>
        </div>
</section>

<section class="custcol-2">
<ul class="tilesWrap">
	<li>
		<h2>.08</h2><br>
		<h3>Read the TEAMS</h3>
        <p>The Text of the Alliterative Morte Arthure (TEAMS)</a>&nbsp;is taken from 
            Larry Benson and Edward Foster's 1994 edition for TEAMS Middle English Text series.</p>
		<a href="https://d.lib.rochester.edu/teams/text/benson-and-foster-king-arthurs-death-alliterative-morte-arthur-part-i" target="_blank" rel="noreferrer noopener"><button>Read Text</button></a>
	</li>
	<li>
		<h2>.08</h2><br>
		<h3>View the Index of Place Names</h3>
		<p>See a list of all place-names that are mentioned within 
            the <em>Alliterative Morte Arthure </em>text</p><br>
		<a href="../search/?Collection=Alliterative+Morte+Arthur/"><button>Search Collection</button></a>
	</li>
	<li>
		<h2>.08</h2><br>
		<h3>View the Bibliography</h3>
        <p>See the growing bibliography for the <em>Alliterative Morte Arthure</em></p><br><br>
		<a href="../amabib/"><button>Read more</button></a>
	</li>
</ul>
<p class="container"> <a class=" text-muted lead custom-light-accent" href="../lincolnthornton/">← Back to Manuscript</a></p>

</section>

 </div>
</div>
 

        {% endblock %}
