{% extends 'Morrois/home.html' %}


{% block content %}
  <!--Search Tag Filter Options, adapted from wgabel's snippet.html https://gist.github.com/wgabel/50544d2e4ba3b4ce006e7d332afb0137 -->
  
  <div class="column side custom-bg-dark">
  <div>
  <form class="custom-white-font"><ul class="list-group list-group-flush" action="#" method="GET">
    <h2 class="display-6"><br>COLLECTION:</h2><hr>
    <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Collection" value="Alliterative Morte Arthur">Art 8: Alliterative Morte Arthur</li>
    <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Collection" value="Octavian">Art 10: Octavian</li>
    <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Collection" value="Isumbras">Art 11: Isumbras</li>
    <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Collection" value="Sir Degreuant">Art 15: Sir Degreuant</li>
    
    <h2 class="display-6"><br>TAGS:</h2><hr>
    <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags1" value="place"><span class="caret">Place</span>
      <ul class="animated fadeIn list-group nested list-group-flush">
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="geogName"><span class="caret">Geographic Name</span>
          <ul class="animated fadeIn list-group nested list-group-flush">
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="geogFeat"><span class="caret">Geographic Feature</span>
              <ul class="animated fadeIn list-group nested list-group-flush">
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="continent">Continent</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="hill">Hill</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="islands">Islands</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="lake">Lake</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="mountains">Mountains</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="peninsula">Peninsula</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="planet">Planet</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="region">Region</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="river">River</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="sea">Sea</li>
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="valley">Valley</li>
              </ul></li>
          </ul></li>
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="imagName"><span class="caret">Imaginary Name</span>
          <ul class="animated fadeIn list-group nested list-group-flush">
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="country">Country</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="faith">Faith</li>
          </ul></li>
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="placeName"><span class="caret">Place Name</span>
          <ul class="animated fadeIn list-group nested list-group-flush">
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="country">Country</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="empire">Empire</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="faith">Faith</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="region">Region</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="settlement">Settlement</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="street">Street</li>

          </ul></li>
      </ul>
    </li>
    <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags1" value="person"><span class="caret">Person</span>
      <ul class="animated fadeIn list-group nested list-group-flush">
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="nationality">Nationality</li>
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="persName"><span class="caret">Person Name</span>
          <ul class="animated fadeIn list-group nested list-group-flush">
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="addName">Additional Name</li></ul></li>
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="personGrp"><span class="caret">Person Group</span>
          <ul class="animated fadeIn list-group nested list-group-flush">
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="faith">Faith</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="nationality">Nationality</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="roleName"><span class="caret">Role Name</span>
              <ul class="animated fadeIn list-group nested list-group-flush">
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="political">Political</li></ul></li>
              </ul></li>
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="roleName"><span class="caret">Role Name</span>
          <ul class="animated fadeIn list-group nested list-group-flush">
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="ecclesiastical">Ecclesiastical</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="imagName"><span class="caret">Imaginary Name</span>
              <ul class="animated fadeIn list-group nested list-group-flush">
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="faith">Faith</li></ul></li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="political">Political</li>
          </ul></li>
      </ul>
    </li>
    <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags1" value="thing"><span class="caret">Thing</span>
      <ul class="animated fadeIn list-group nested list-group-flush">
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="animal"><span class="caret">Animal</span>
          <ul class="animated fadeIn list-group nested list-group-flush">
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="horse">Horse</li>
          </ul></li>
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="good"><span class="caret">Good</span>
          <ul class="animated fadeIn list-group nested list-group-flush">
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="armor">Armor</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="currency">Currency</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="food"><span class="caret">Food</span>
              <ul class="animated fadeIn list-group nested list-group-flush">
                <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags4" value="beverage">Beverage</li>
              </ul></li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="textile">Textile</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="weapon">Weapon</li>
          </ul></li>
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="language"><span class="caret">Language</span>
          <ul class="animated fadeIn list-group nested list-group-flush">
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="spoken">Spoken</li>
            <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags3" value="written">Written</li>
          </ul></li>
        <li class="custom-bg-dark list-group-item justify-content-between lh-sm"><input class="form-check-input" type="checkbox" name="Tags2" value="transport">Transport</li>
      </ul>
    </li>
  </ul>
  <br>
  <input class="btn btn-outline-light" type="submit" value="Search">
  </form>
  </div>
  </div>

  <script>
  var toggler = document.getElementsByClassName("caret");
  var i;
  for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("caret-down");
    });
  }
  </script>

<!--deals with browse items table -->

<div class="column middle"> 

<table id="BrowseTable" class="animated fadeIn delay-4s order-column stripe">
  <thead>
    <tr>
      <th scope="col">Middle English Word</th>
      <th scope="col">Modern English Word</th>
      <th scope="col">Collection</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for places in filter.qs%}
    <tr>

      <td > 
        <a href="..{{ places.get_absolute_url }}/">{{ places.Middle }}</a>
            
      </td>

      <td > 
         <a href="..{{ places.get_absolute_url }}/">{{ places.Modern_English }}</a>
           
      </td>

      <td>
        <a href="#">{{ places.Collection}}<a>,
          <div class="mtooltip">[{{places.Line_Number}}]
            <span class="mtooltiptext">{{places.Quote}}</span>
          </div>
      </td>

      <td>{{ places.Tags1}},
          {{ places.Tags2}},
          {{ places.Tags3}},
          {{ places.Tags4}}
    </td>

    </tr>
{% endfor %}
  </tbody>
</table>

</div>
</body>

  {% endblock %}
